@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	background-image: url(file:///C:/Users/Joretof/Desktop/Taller1JS/img/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg);
	background-repeat: no-repeat;
	font-family: "Roboto";
	font-size: 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #434343;
	position: fixed;
	height: 100%;
	overflow: auto;
	margin-top: -7rem;
}


li a {
	display: block;
	color: #fff;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 19px;
	text-align: center;
	margin-top: -2.1rem;
}



li a:hover {
	background-color: #555;
	color: white;
}

ul i {
	font-size: 30px;
	color: #fff;
	margin-top: 8%;
	margin-left: 2rem;
}

.cerrar i {
	margin-top: 22.5rem;
	margin-left: 11rem;
	font-size: 25px;
}

.cerrar a {
	font-size: 18px;
	color: #EFEFEF;
	margin-left: 14.8rem;
	text-decoration: none;



}

.container {

	max-width: 1100px;
	height: 45rem;
	background-color: #EFEFEF;
	margin: 5rem auto;

	margin-left: 38rem;
	margin-top: 50rem;


}



.form__top h2 {
	font-family: "Marcellus";
	color: #000;
	font-size: 48px;
	text-align: center;
	margin-top: -43rem;

}
.casona{
    width: 15%;
}
.pero{
    width: 20%;
    margin-left: 15rem;
    margin-top: -4.4rem;
}
.input_pop{
	width: 180%;
	height: 80px;
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
}




.form__reg {
	padding: 18rem;
	display: flex;
	flex-direction: column;
	margin-left: -15rem;
	margin-right: 15rem;
	margin-top: -20rem;
}

.form__reg2 {
	padding: 18rem;
	display: flex;
	flex-direction: column;
	margin-left: 22rem;
	margin-right: -12rem;
	margin-top: -60.8rem;
}

.input,
.btn__reset {
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;


	transition: all .5s;
}
.sec{
	display: flex;
    justify-content: space-around;
	font-size: 3em;
	margin-top: -5rem;
   
}





.input:focus {
	border-bottom: solid #F39B53 .2rem;
}



.btn__reset {
	width: 30%;
	border-bottom: none;
	color: white;
	margin-top: 2rem;
	margin-left: 24.5rem;
	font-size: 20px;
}





.btn__reset {
	background-color: black;
}



.btn__reset:hover {
	background-color: #FA9535;
}

@media screen and (max-width:320px){


	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 8%;
		background-color: #434343;
		position: fixed;
		height: 59%;
		overflow: auto;
		margin-top: -2rem;
	}
	

	
	li a {
		display: none;
		color: #fff;
		padding: 8px 16px;
		text-decoration: none;
		font-size: 23px;
		text-align: center;
		margin-top: -2.1rem;
	}
	
	.cerrar i {
		margin-top: 15rem;
		margin-left: 0.6rem;
		font-size: 28px;
	}
	
	.cerrar a {
		font-size: 18px;
		color: #EFEFEF;
		margin-left: 5rem;
		text-decoration: none;
		display: none;
	
	
	
	}
	
	
	li a:hover:not(.active) {
		background-color: #555;
		color: white;
	}
	
	ul i {
		font-size: 28px;
		color: #fff;
		margin-top: 8%;
		margin-left: 0.6rem;
	}
	
	
	
	.container {
	
		max-width: 1100px;
		height: 67rem;
		width: 370px;
		background-color: #EFEFEF;
		margin: 5rem auto;
	
		margin-left: 6rem;
		margin-top: 45rem;
	
	
	}
	
	
	.form__top h2 {
		font-family: "Marcellus";
		color: #000;
		font-size: 48px;
		text-align: center;
		margin-top: -43rem;
	
	}
	.casona{
		width: 10%;
		margin-bottom: 7rem;
	}
	.pero{
		width: 10%;
		margin-left: 0.2rem;
		margin-top: -5.4rem;
	}
	.input_pop{
		width: 190px;
		height: 80px;
		background-color: #EFEFEF;
		padding: .5rem;
		margin: .5rem 0;
	}
	
	.input{
		width: 80px;
	}
	
	
	
	.form__reg {
		padding: 18rem;
		display: flex;
		flex-direction: column;
		margin-left: -15rem;
		margin-right: 15rem;
		margin-top: -20rem;
	}
	
	.form__reg2 {
		padding: 18rem;
		display: flex;
		flex-direction: column;
		margin-left: -3rem;
		margin-right: -12rem;
		margin-top: -72.3rem;
	}
	
	.input,
	.btn__reset {
		background-color: #EFEFEF;
		padding: .5rem;
		margin: .5rem 0;
	
	
		transition: all .5s;
	}
	.sec{
		display: flex;
	
		justify-content: space-around;
		font-size: 2em;
		margin-top: 3rem;
	
	}
	
	
	
	
	
	.input:focus {
		border-bottom: solid #F39B53 .2rem;
	}
	
	
	
	.btn__reset {
		width: 30%;
		border-bottom: none;
		color: white;
		margin-top: 2rem;
		margin-left: 8.5rem;
		font-size: 20px;
	}
	
	
	
	
	
	.btn__reset {
		background-color: black;
	}
	
	
	
	.btn__reset:hover {
		background-color: #FA9535;
	}
}