@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
	margin: 0;
	background-image: url(file:///C:/Users/Joretof/Desktop/Taller1JS/img/erol-ahmed-mfEeaOfacTQ-unsplash.jpg);
	background-repeat: no-repeat;
	font-family: "Roboto";
	font-size: 15px;
    font-family: 'Marcellus';
}
@media screen and (min-width:1024px){
.logo {
	z-index: 3;
	margin-top: -27rem;
	margin-left: 2rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 19%;
	background-color: #434343;
	position: fixed;
	height: 100%;
	overflow: auto;
	margin-top: -2rem;
}

.corot {
	color: #fff;
	font-family: 'Marcellus';
	margin-left: 11rem;
	margin-top: -42rem;
    font-size: 15px;
}
.corot h2 {
	color: #fff;
	font-family: 'Marcellus';
	margin-left: 5rem;
	margin-top: -38rem;
    font-size: 15px;
}

li a {
	display: block;
	color: #fff;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	margin-top: -2.1rem;
}

.cerrar i {
	margin-top: 35rem;
	margin-left: 11rem;
	font-size: 25px;
}

.cerrar a {
	font-size: 18px;
	color: #EFEFEF;
	margin-left: 14.8rem;
	text-decoration: none;
}

   
    .pero{
        width: 20%;
        margin-left: 38rem;
        margin-top: -10.1rem;
        margin-bottom: 2rem;
    }
    .potato{
        width: 20%;
        margin-left: 18rem;
        margin-top: -7.4rem;
        margin-bottom: 7rem;
    }




li a:hover {
	background-color: #555;
	color: white;
}

ul i {
	font-size: 38px;
	color: #fff;
	margin-top: 8%;
	margin-left: 2rem;
}



.container {

	max-width: 1100px;
	height: 69rem;
	background-color: #EFEFEF;
	margin: 5rem auto;

	margin-left: 38rem;
	margin-top: 45rem;


}



.form__top h2 {
	font-family: "Marcellus";
	color: #000;
	font-size: 48px;
	text-align: center;
	margin-top: -43rem;
    margin-bottom: 10rem;

}
.primer{
    display: flex;

    justify-content: space-around;

   
}

.second{
    display: flex;

    justify-content: space-around;

   
}
.card-title{
    text-align: center;
    font-size: 32px;
}

.im{
    width: 10px;
    margin-top: 1rem;
}
.card1 , .card2 ,.card3 , .card4 ,.card5 ,.card6, .card7{
    background-color: #fff;
}
}
@media screen and (min-width:320px) and (max-width:1023px){
    .logo {
        z-index: 3;
        margin-top: -27rem;
        margin-left: 2rem;
        display: none;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 10%;
        background-color: #434343;
        position: fixed;
        height: 82%;
        overflow: auto;
        margin-top: -2rem;
    }
    
    .corot {
      display: none;
      
    }
    .corot h2 {
        
        display: none;
    }

    
    li a {
     
        display: none;
    }
    
    .cerrar i {
        margin-top: 35rem;
        margin-left: 1rem;
        font-size: 28px;
    }
    
    .cerrar a {
        
        display: none;
    }
    
       
        .pero{
            display: none;
        }
        .potato{
            display: none;
        }
    
    
    
    
    li a:hover {
        background-color: #555;
        color: white;
    }
    
    ul i {
        font-size: 20px;
        color: #fff;
        margin-top: 8%;
        margin-left: 1rem;
    }
    
    
    
    .container {
    
        max-width: 1100px;
        height: 82rem;
        width: 500px;
        background-color: #F2F2F2;
        margin: 5rem auto;
    
        margin-left: 7rem;
        margin-top: 45rem;
    
    
    }
    .card2{
        margin-top: -25.3rem;
        margin-left: 15rem;
    }
    .card5{
        margin-top: -28.1rem;
        margin-left: 15rem;
    }
    
    .card7{
        margin-top: -25.3rem;
        margin-left: 15rem;
    }
    
    
    
    .form__top h2 {
        font-family: "Marcellus";
        color: #000;
        font-size: 48px;
        text-align: center;
        margin-top: -43rem;
        margin-bottom: 2rem;
    
    }
    .primer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
       
    }
    
    .second{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
       
    }
    .card-title{
        text-align: center;
        font-size: 32px;
    }
    #boton{
        text-align: center;
        margin-left: 15rem;
       
    }
    .im{
        width: 10px;
        margin-top: 3rem;
    }

}